:root{
    --color-one:#222831;
    --color-two:#393E46;
    --color-three:#00ADB5;
    --color-four:#EEEEEE;
    --color-five:#ffff;
}
body{
    margin: 0px;
    padding: 0px;
    background: var(--color-five);
    font-family: 'Koulen', cursive;
}
.grid{
    width: 100%;
    display: grid;
}
.grid--center{
    place-items: center;
}
.flex{
    width: 100%;
    display: flex;
}
.flex--evenly{
    justify-content: space-evenly;
}
.flex--around{
    justify-content:space-around;
}
.flex--between{
    justify-content:space-between;
}
.grid__Home{
    /*width: 100%;*/
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 0px 15px;
}
.center{
    text-align: center;
}
.container-center{
    margin: 0 auto;
    margin-top: -32px;
    display:flex;
}
/*searchEngine*/
.search-Form{
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.serch-Form__input{
    width: 160px;
    margin: auto;
    border: none;
    height: 36px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    display: grid;
    place-items: center;
}
.serch-Form__button{
 background: none;
 border: none;
 background-color: var( --color-five);
 width: 40px;
 height: 38px;
 cursor: pointer;
 border-bottom-left-radius: 25px;
 border-top-left-radius: 25px;
}

/*class Nav*/
.nav-home{
    height: 100px;
}
.nav-home__ul{
    position: absolute;
    top: 130px;
    padding: 20px;
    margin: 0px;
    list-style: none;
    text-align: start;
    display: grid;
    gap: 0.5rem;
    color:var(--color-four)
}
.nav-home__button{
 display: none;
}
.main-home{
    height: 100%;
}
.logo{
  margin-top: 1rem;
  margin-left: 1rem;
}
/*img*/
.img{
 width: 100%;
height: 100px;
object-fit: cover;
}
.imgRes{
    width: 80%;
    height: 80%;
    max-width: 280px;
}
.background--layaou{
    background: linear-gradient(var(--color-three),var(--color-one));
}
.container-img{
    /*max-width: 660px;*/
    /*width: 100%;*/
    display: grid;
    /*grid-template-columns: repeat(auto-fill,100px);*/
    grid-template-columns: repeat(6,1fr);
    place-items: center;
    gap: 10px;
    /*margin: auto;*/
}
.imgManigier{
    position: relative;
    top: -150px;
    left:100px;
    width: 20%;
    max-width: 80px;
    height: 80px;
    animation-name:movil;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: translate 1s;
}
@keyframes movil{
    0% {
      transform: translate(-25px,0px);
    }
    25% {
        transform: translate(-75px,100px);
    }
    50% {
        transform: translate(-150px,0px);
    }
    75% {
        transform: translate(-75px,-100px);
    }
    100% {
        transform: translate(-25px,0px);
    }
}
/*title*/
.title{
    color: var(--color-three);
    text-align: center;
}
/*slider*/
.slider{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 10% 80% 10%;
    height: 100px;
}
.slider-buttom{
    color: var(--color-three);
    background-color: none;
    border-radius: 25px;
    background-color: var(--color-two);
}
@media screen and (max-width: 1000px ){
    .grid__Home{ 
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .Home__searchEngine{
        display: none;
    }
    .nav-home__button{
      display: block;
      background: none;
      border: none;
      cursor: pointer;
    }
    /*
    .grid__Home{
    }
    */
    .nav-home__ul{
      top: 0px;
      padding-top: 0px;
      position: relative;
      background-color: var(--color-one); 
      place-items: center;   
    }
    .top__padding{
        background: var(--color-one);
        padding: 1rem 15px;
        width: auto;
        background: linear-gradient(var(--color-three) 30%,var(--color-one));
    }
    .left__padding{
        padding-left:.5rem;
    }
    .right__padding{
        padding-right:.5rem;
    }
    .logo{
        margin: 0px;
    }
    .main-home{
        margin-top: 0px;
    }
    .container-img{
        /*max-width: 440px;*/
        grid-template-columns: repeat(4,1fr);
        padding: 0px 15px;
    }
    .search-Form{
        height: auto;
    }
    .serch-Form__input{
      height: 28px;
    }
    .serch-Form__button{
        height: 30px;
    }
    .container-center {
        margin: 0 auto;
        margin-top: -45px;
        display: flex;
    }
    .img{
        width: 100%;
       height: 150px;
       object-fit: cover;
    }
}
@media screen and (max-width: 572px) and (min-width: 440px){
    .container-img{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 439px) and (min-width: 300px){
    .container-img{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 300px) {
    .container-img{
        grid-template-columns: repeat(1,1fr);
    }
}
